langchain-cohere
langchain-community
langchain
langchain-experimental
langchain-core
cohere
openai
langchain_deepseek
deepseek
tavily-python
duckduckgo-search
google-search-results
matplotlib
plotly
tqdm
pandas
lxml
numpy
boto3
folium
geopandas
shapely
psycopg2-binary
sqlalchemy 
shapely